.a{
margin-left:800px;
margin-top:20px;
position:absolute;
color:white;

}
.b{
margin-left:800px;
margin-top:40px;
position:absolute;
color:white;
}
.he{
margin-left:235px;
margin-top:20px;
font-size:40px;
position:absolute;
color:white;
}

.c{
margin-left:1000px;
margin-top:20px;
position:absolute;
color:white;
}
.d{
margin-left:1000px;
margin-top:40px;
position:absolute;
color:white;
}
.e{
margin-left:1000px;
margin-top:65px;
position:absolute;
color:white;	
}